<h1>Herbst in Tonndorf</h1>
<%= image_tag "Naturdenkmal.png", :size => "125x97", :alt => "", :class => "imgr" %>

<p>Das Bild auf der rechten Seite stammt vom Herbst 2011 (Teich in Tonndorf).</p>
<%= image_tag "Leaf.png", :class=> "imgl", :alt => "", :size => "150x100" %>
<p>Mit Papa und Linus ist das Angeln am coolsten.Viele Fische fangen,Spaß haben und viele Erinnerunsfotos machen.
Vielleicht möchte einer von euch mit zum professionellen Angeln mit Papa und Linus?</p>
<p>Wenn ja dann sag uns bescheid auf unserer Webseite!</p>



