<div class="holder">
  <h2 class="title">
    <%= image_tag "Linus.png", :alt => "" %>
    Linus der Weihnachtsmann</h2>
  <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque.</p>
  <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
</div>
<div id="featured">
  <ul>
    <li>
      <h2>Paula unsere Miezekatze</h2>
      <%= image_tag "Paula.png", :alt => "", :class => "imgholder" %>
      <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque congue magnis vestibulum quismodo nulla et feugiat. Adipisciniapellentum leo ut consequam ris felit elit id nibh sociis malesuada.</p>
      <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
    </li>
  </ul>
</div>
<div class="holder">
  <h2>Lorem ipsum dolor</h2>
  <p>Nuncsed sed conseque a at quismodo tris mauristibus sed habiturpiscinia sed.</p>
  <ul>
    <li><a href="#">Lorem ipsum dolor sit</a></li>
    <li>Etiam vel sapien et</li>
    <li><a href="#">Etiam vel sapien et</a></li>
  </ul>
  <p>Nuncsed sed conseque a at quismodo tris mauristibus sed habiturpiscinia sed. Condimentumsantincidunt dui mattis magna intesque purus orci augue lor nibh.</p>
  <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
</div>