<% if @m_micropost.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@m_micropost.errors.count, "Fehler") %> </h2>
    <ul>
    <% @m_micropost.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

