<li class="last">
  <p class= "imgtitle" ><%= @my_image_title %></p>
  <%=link_to image_tag(@my_284_by_224), '/assets/'+@my_284_by_224, :class=>"fb_image", :title => @my_image_title, :alt => "" %>
  <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
</li>