<div class="wrapper col3">
  <div class="container">
    <h1>Credits gehen an</h1>
    <h2><%= link_to "Ruby On Rails", "http://www.rubyonrails.org/" %> - Web Development Framework</h2>
      <%= link_to "Tutorial von Michael Hartl", "http://ruby.railstutorial.org/chapters/rails-3-1#main_content" %>
      <br>
      <br>
     <h2>Stefan Tilkov</h2>
      <p>"HTTP und Rest" - Einsatz der Architektur des Web für Integrationszenarien</p>
      <p>fancybox</p>
    <h2><%= link_to "OS Templates", "http://www.os-templates.com/" %> - Free Website Templates - CSS / XHTML + PNG</h2>
  </div>
</div>


