<div class="wrapper col3">
    <div class="container">
      <h1>Fußball</h1>
      <p>Fußball spielen ist echt die coolste Sportart.Findet ihr das auch?</p>
      <p>Probiert es einfach mal bei dem Fußballverein Sportfreunde Elxleben!</p>
      Schaut auf jeden Fall mal auf der Internetseite
      <p><%= link_to "www.sportfreunde-elxleben.de","http://www.sportfreunde-elxleben.de" %></p> nach dort findet ihr auch mehr Informationen über den
      Fußballverein.
    </div>
</div>