<div class="wrapper col3">
    <div class="container">
      <h1>Fußball</h1>
        <%= link_to image_tag('_wsb_137x140_wappen-sportfreundeelxleben.jpg'), 'http://www.sportfreunde-elxleben.de' , :class => 'imgl' %>
        <p>Fußball spielen ist echt die coolste Sportart.Findet ihr das auch?</p>
        <p>Probiert es einfach mal bei dem Fußballverein Sportfreunde Elxleben!</p>
        Schaut auf jeden Fall mal auf der Internetseite
        <%= link_to "www.sportfreunde-elxleben.de","http://www.sportfreunde-elxleben.de" %>
        nach, dort findet ihr auch mehr Informationen über den Fußballverein.
        <br><br><br><br><br><br>
    </div>
</div>