<div class="wrapper col4">
  <div class="container">
    <div id="content">
     <!-- Beispielinhalt -->
      <%= render @my_partials_subdir+'sample_content' %>
    </div>
    <div id="column">

<div class="subnav">
  <h2>Home Navigation</h2>
  <ul>
    <li><a href="#">Herbst in Tonndorf</a></li>
    <li><a href="#">Herbst in Mittelausen</a>
      <ul>
        <li><a href="#">Free XHTML Templates</a></li>
        <li><a href="#">Free Website Templates</a></li>
      </ul>
    </li>
    <li><a href="#">Open Source Layouts</a>
      <ul>
        <li><a href="#">Open Source Software</a></li>
        <li><a href="#">Open Source Webdesign</a>
          <ul>
            <li><a href="#">Open Source Downloads</a></li>
            <li><a href="#">Open Source Website</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="#">Open Source Themes</a></li>
  </ul>
</div>    
    
    </div>
    <br class="clear" />
  </div>
</div>




