<div class="wrapper col4">
  <div class="container">
    <div id="content">
      <!-- Beispielinhalt -->
      <%= render @my_partials_subdir+'sample_content' %>
    </div>
    <br class="clear" />
  </div>
</div>




