.wrapper.col3
  .container
    .homecontent
      %h1 
        .fl_left Deutsche Version
        .fl_right English version
      %br
      %br
      =link_to image_tag("de.png"), home_path(:locale => 'de'), :alt => "", :class => 'fl_left', :title => 'Deutsche Version' # appends ?locale=de to the base url
      =link_to image_tag("uk.png"), home_path(:locale => 'en'), :alt => "", :class => 'fl_right', :title => 'English Version' # appends ?locale=de to the base url
      %br
      %br.clear
