<div class="wrapper col3">
  <div class="container">
    <h1>Brian May Signature Gitarre</h1>
    <%= image_tag "brian_may_signature_02_large.jpg", :class=> "imgr", :alt => "", :size => "375x248" %>
    
     <ul>
      <li><%= link_to "Brian May offizielle Homepage", "http://www.brianmay.com" %></li>
      <li><%= link_to "Brian May Guitars", "http://brianmayguitars.co.uk" %></li>
    </ul>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>
</div>




