<div class="wrapper col3">
  <div class="container">
      <h1>Kontaktformular</h1>
        <%= form_for (@m_micropost) do |mp| %>
        <!-- Render errors from the last save action (if any errors exist) -->
        <%= render 'shared/error_messages' %>
        <div><%= mp.text_field :content %> </div>
        <br>
        <div><%= mp.submit%> </div>
        <% end %>
  </div>
</div>