.wrapper.col3
  .container
    %h2 Erhaltene Posts
    %table{:summary=>"Summary Here", :cellpadding=>"0", :cellspacing=>"0" }
      %thead
        %tr
          %th Zeit
          %th Inhalt
          %th Aktion
      %tbody
        - row = 0
        - @m_microposts.each do |mp|
          - row = row + 1
          - if (row % 2) == 0
            <tr class="light">
          - else
            <tr class="dark">
          %td
            = time_ago_in_words(mp.created_at) 
            ago id
            = mp.id
          %td    
            = mp.content
          %td
            = link_to "Löschen", mp, :method => :delete, :confirm => "Eintrag wirklich löschen?", :title => mp.content
          </tr>