<!-- ####################################################################################################### -->
<div class="wrapper col5">
    
  <div id="footer">
    <p class="fl_left">2012 - <a href="#">www.die-elxlebener.de&#160;&#160;&#160;&#160;&#160;&#160;&#160;</a>
      <a href="https://twitter.com/tom_roeder" class="twitter-follow-button" data-show-count="false" data-lang="de" data-show-screen-name="false">@tom_roeder folgen</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </p>
    <p class="fl_right">Design by <a href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <br class="clear" />
  </div>
</div>


