<!-- ####################################################################################################### -->
<div class="wrapper col5">
  <div id="footer">
    <p class="fl_left">Copyright &copy; 2011 - All Rights Reserved - <a href="#">www.die-elxlebener.de</a></p>
    <p class="fl_right">Template by <a href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <br class="clear" />
  </div>
</div>
