<div class="wrapper col1">
  <div id="header">
    <div class="fl_left">
      <h1>Unsere neue Homepage</h1>
      <p>Linus, Judith und Thomas</p>
    </div>
    <div id="topnav">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li class="active"><a href="style-demo.html">Style Demo</a></li>
        <li><a href="full-width.html">Full Width</a></li>
        <li><a href="#">Link Text</a></li>
        <li class="last"><a href="#">A Long Link Text</a></li>
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>