<div id="comments">
  <h2>Comments</h2>
  <ul class="commentlist">
    <li class="comment_odd">
      <div class="author">
        <%= image_tag "avatar.gif", :class => "avatar", :size => "32x32", :alt => "" %>
        <span class="name"><a href="#">A Name</a></span> <span class="wrote">wrote:</span></div>
      <div class="submitdate"><a href="#">August 4, 2009 at 8:35 am</a></div>
      <p>This is an example of a comment made on a post. You can either edit the comment, delete the comment or reply to the comment. Use this as a place to respond to the post or to share what you are thinking.</p>
    </li>
    <li class="comment_even">
      <div class="author">
        <%= image_tag "avatar.gif", :class => "avatar", :size => "32x32", :alt => "" %>
        <span class="name"><a href="#">A Name</a></span> <span class="wrote">wrote:</span></div>
      <div class="submitdate"><a href="#">August 4, 2009 at 8:35 am</a></div>
      <p>This is an example of a comment made on a post. You can either edit the comment, delete the comment or reply to the comment. Use this as a place to respond to the post or to share what you are thinking.</p>
    </li>
    <li class="comment_odd">
      <div class="author">
        <%= image_tag "avatar.gif", :class => "avatar", :size => "32x32", :alt => "" %>
        <span class="name"><a href="#">A Name</a></span> <span class="wrote">wrote:</span></div>
      <div class="submitdate"><a href="#">August 4, 2009 at 8:35 am</a></div>
      <p>This is an example of a comment made on a post. You can either edit the comment, delete the comment or reply to the comment. Use this as a place to respond to the post or to share what you are thinking.</p>
    </li>
  </ul>
</div>